html {
  font-family: sans-serif;
}

#pageWrapper {
  text-align: center;
}

#instructions {
  width: 50%;
  margin: 10px auto;
  padding: 10px;
}


#towersWrapper {
  display: flex;
  justify-content: space-evenly;
}

.towerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.tower {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  width: 100px;
  height: 80px;
  margin: 10px;
  padding: 20px;
  /* position: relative; */
}

.tower:hover {
  border: 2px solid blue;
}

/* .towerBar {
  width: 10px;
  height: 100%;
  background-color: black;
  position: relative;
} */

.disc {
  height: 20px;
}

#disc1 {
  background-color: blue;
  width: 80px;
}

#disc2 {
  background-color: green;
  width: 60px;
}

#disc3 {
  background-color: orange;
  width: 40px;
}

#disc4 {
  background-color: red;
  width: 20px;
}

#moveCountBox {
  margin: 10px;
  padding: 10px;
}

#moveCountDisplay {
  margin: 10px auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 20px;
}